
{{> header }}

<h1>My feeds</h1>
<p class="lead">Feeds for external calendars</p>

{{> show_flash_messages }}

<div class="col-12 shadow-sm p-3 mx-auto mb-3 bg-white">




    <div class="row">
      <div class="col-md-12">

        <p class="description-paragraph">Share your annual leave data with external calendar providers such as Microsoft Outlook, Apple Calendar (iCal) or Google Calendar.</p>

        <p class="description-paragraph">We provide following streams from:</p>
        <ul>
          <li>
            <a href="/calendar/">My Calendar</a> page - feeds all data from My Calendar page
          </li>

          {{# unless keep_team_view_hidden}}
          <li>
            <a href="/calendar/teamview/">Team view</a> page - feeds Team view data for current month
          </li>
          {{/ unless}}
       </ul>

        <p class="description-paragraph">To export particular feed into default calendar application just click on corresponding link.</p>

        <p class="description-paragraph">Otherwise copy the link location and pass it to external application.</p>

      </div>
    </div>

    <div class=" feeds-holder">

      <div class="col-md-12 ">
        <form method="POST" action="/calendar/feeds/regenerate/">
        <a class=" btn btn-dark mb-2" href="webcal://{{current_host}}/feed/{{calendar_feed.feed_token}}/ical.ics">My calendar feed <i class="fa fa-rss"></i> <i class="fas fa-calendar-alt"></i></a>

        <input type="hidden" name="token" value="{{calendar_feed.feed_token}}"/>
        <button type="submit" class="mb-2 btn btn-dark" aria-label="Close"><span aria-hidden="true">Regenrate my feed <i class="fa fa-recycle"></i></span></button>
        </form>
      </div>

      {{# unless keep_team_view_hidden }}
      <div class="col-md-12 mt-3" >
        <form method="POST" action="/calendar/feeds/regenerate/">
        <a class=" btn btn-dark" href="webcal://{{current_host}}/feed/{{team_view_feed.feed_token}}/ical.ics">Team view feed <i class="fa fa-rss"></i> <i class="fas fa-calendar-alt"></i></a>

        <input type="hidden" name="token" value="{{team_view_feed.feed_token}}"/>
        <button type="submit" class="b-2 btn btn-dark" aria-label="Close"><span aria-hidden="true">Regenrate team view feed <i class="fa fa-recycle"></i></span></button>
        </form>
      </div>
      {{/ unless }}

    </div>






</div>

{{> footer }}
